<div
  class="alert text-dark fw-bold text-end mt-3 mb-0 d-flex justify-content-between align-items-center rounded"
  style="background-color: #e9c46a;"
>
  <h2>
    Food Order Online Website
  </h2>
  <h5>Copyright © 2022 by &lt; Tuấn Khanh &gt;</h5>
</div>