<div class="fw-bold p-3 text-dark" style="background-color: #87c38f;">
  <div class="text-center">
    <h1>Food Order </h1>
  </div>

  <div class="text-end">

    <button class="btn btn-success" style="width:10% ;" type="button">
      <a
        href="/register"
        class="text-light"
        style="text-decoration: none;"
      >Register</a>
    </button>
    <button class="btn btn-success" style="width:10% ;" type="button">
      <a
        href="/login"
        class="text-light"
        style="text-decoration: none;"
      >Login</a>
    </button>
  </div>

</div>