<nav
  class="navbar navbar-light mt-2 text-dark"
  style="background-color: #87c38f;"
>
  <div class="container-fluid p-3">
    <a class="navbar-brand text-dark fw-bold" href="/">Home</a>

  </div>
</nav>