<div class="mt-3 text-dark">
  <h1 class="p-5" style="color: #e63946;">
    There's something for everyone!
  </h1>
  <div class="row w-100 gy-5 p-3 align-items-center">
    <div class="col-3">
      <img
        src="https://d1sag4ddilekf6.azureedge.net/cuisine/40/icons/upload-photo-icon_f71f7805786348b694d2a9a886b85cee_1549034196325788582.jpeg"
        class="img-fluid"
        alt="cháo"
      />
      <h3 class="text-center text-bold">Cháo</h3>
    </div>
    <div class="col-3">
      <img
        src="https://d1sag4ddilekf6.azureedge.net/cuisine/147/icons/Salad_1641af887e2b4092a81f8e27ccdac0dc_1547819244890107512.jpg"
        class="img-fluid"
        alt="rau"
      />
      <h3 class="text-center text-bold">Rau trộn</h3>
    </div>
    <div class="col-3">
      <img
        src="https://d1sag4ddilekf6.azureedge.net/collections/36/icons/upload-photo-icon_e816de4ec50a4e7a95fc6cc52e3072cd_1548575711684762474.jpeg"
        class="img-fluid"
        alt="Hiso Party"
      />
      <h3 class="text-center text-bold">Hiso Party</h3>
    </div>
    <div class="col-3">
      <img
        src="https://d1sag4ddilekf6.azureedge.net/cuisine/157/icons/eb8ea703d1f84b218b79b0f860e99425_1562559054203677203.jpeg"
        class="img-fluid"
        alt="Ăn vặt"
      />
      <h3 class="text-center text-bold">Ăn vặt</h3>
    </div>
    <div class="col-3">
      <img
        src="https://d1sag4ddilekf6.azureedge.net/cuisine/135/icons/Pizza_32aed38d4c1d4dbcb2fe711f0aeb6e15_1547819221409327403.jpg"
        class="img-fluid"
        alt="Pizza"
      />
      <h3 class="text-center text-bold">Pizza</h3>
    </div>
    <div class="col-3">
      <img
        src="https://d1sag4ddilekf6.azureedge.net/cuisine/209/icons/upload-photo-icon_65f41b40038b4b3ea672402e609d0e96_1548908793958778523.jpeg"
        class="img-fluid"
        alt="Thịt"
      />
      <h3 class="text-center text-bold">Thịt</h3>
    </div>
    <div class="col-3">
      <img
        src="https://d1sag4ddilekf6.azureedge.net/cuisine/83/icons/cedda467431a49bd88fb1fdf40a4c4a0_1562559607379193479.jpeg"
        class="img-fluid"
        alt="Hủ tiếu"
      />
      <h3 class="text-center text-bold">Hủ tiếu</h3>
    </div>
    <div class="col-3">
      <img
        src="https://d1sag4ddilekf6.azureedge.net/cuisine/130/icons/upload-photo-icon_5175b157c8114e51898b264e1173fafb_1548303610212783174.jpeg"
        class="img-fluid"
        alt="Mì ý"
      />
      <h3 class="text-center text-bold">Mì ý</h3>
    </div>
    <div class="col-3">
      <img
        src="https://d1sag4ddilekf6.azureedge.net/cuisine/144/icons/Rice_e191965ccd6848a3862e6a695d05983f_1547819238893335910.jpg"
        class="img-fluid"
        alt="Cơm"
      />
      <h3 class="text-center text-bold">Cơm</h3>
    </div>
    <div class="col-3">
      <img
        src="https://d1sag4ddilekf6.azureedge.net/cuisine/50/icons/fcaf978fac204ecaab2c5fa0f7e6e4ce_1562559545238776223.jpeg"
        class="img-fluid"
        alt="Cơm tấm"
      />
      <h3 class="text-center text-bold">Cơm tấm</h3>
    </div>
    <div class="col-3">
      <img
        src="https://d1sag4ddilekf6.azureedge.net/cuisine/43/icons/Chicken_d4725da9243a46e79740d2e70fd28314_1547819095170793371.jpg"
        class="img-fluid"
        alt="Gà"
      />
      <h3 class="text-center text-bold">Gà</h3>
    </div>
    <div class="col-3">
      <img
        src="https://d1sag4ddilekf6.azureedge.net/cuisine/69/icons/FriedChicken_4251b520449049528751b74b4d05ffa1_1547819155005255038.jpg"
        class="img-fluid"
        alt="Gà rán"
      />
      <h3 class="text-center text-bold">Gà rán</h3>
    </div>
    <div class="col-3">
      <img
        src="https://d1sag4ddilekf6.azureedge.net/cuisine/29/icons/a928e8df0b8b4dfc856ac176c2cf6ecb_1662695866769706068.jpeg"
        class="img-fluid"
        alt="Trà sữa"
      />
      <h3 class="text-center text-bold">Trà sữa</h3>
    </div>
  </div>
</div>