<h1 class="my-5 pt-4 text-center text-danger">
  TÀI XẾ
</h1>

<div class="w-100 d-flex justify-content-center">
  <form
    class="mx-1 mx-md-4 pb-5 fw-bold w-50"
    action="/register/nhanvien"
    method="POST"
  >

    <div class="d-flex flex-row align-items-center mb-4">
      <div class="form-outline flex-fill mb-0">
        <input
          type="text"
          id="name"
          name="name"
          class="form-control"
          placeholder="Tên tài khoản"
          required
        />
        <label class="form-label" for="name">Tên tài khoản </label>
      </div>
    </div>

    <div class="d-flex flex-row align-items-center mb-4">
      <div class="form-outline flex-fill mb-0">
        <input
          type="password"
          id="password"
          name="password"
          class="form-control"
          placeholder="Password"
        />
        <label class="form-label" for="password">Password</label>
      </div>
    </div>

    <div class="d-flex flex-row align-items-center mb-4">

      <div class="form-outline flex-fill mb-0">
        <input
          type="password"
          id="password1"
          name="password1"
          class="form-control"
          placeholder="Confirm Password"
        />
        <label class="form-label" for="password1">Confirm your password</label>
      </div>
    </div>

    <div class="d-flex flex-row align-items-center mb-4">
      <div class="form-outline flex-fill mb-0">
        <input
          type="text"
          id="Uname"
          name="Uname"
          class="form-control"
          placeholder="Họ tên"
          required
        />
        <label class="form-label" for="Uname">Họ tên </label>
      </div>
    </div>

    <div class="d-flex flex-row align-items-center mb-4">
      <div class="form-outline flex-fill mb-0">
        <input
          type="text"
          id="cmnd"
          name="cmnd"
          class="form-control"
          placeholder="CMND"
          required
        />
        <label class="form-label" for="cmnd">CMND </label>
      </div>
    </div>
    <div class="d-flex flex-row align-items-center mb-4">
      <div class="form-outline flex-fill mb-0">
        <input
          type="text"
          id="sdt"
          name="sdt"
          class="form-control"
          placeholder="Số điện thoại"
          required
        />
        <label class="form-label" for="sdt">Số điện thoại</label>
      </div>
    </div>
    <div class="d-flex flex-row align-items-center mb-4">
      <div class="form-outline flex-fill mb-0">
        <input
          type="text"
          id="diachi"
          name="diachi"
          class="form-control"
          placeholder="Địa chỉ"
          required
        />
        <label class="form-label" for="diachi">Địa chỉ </label>
      </div>
    </div>
    <div class="d-flex flex-row align-items-center mb-4">
      <div class="form-outline flex-fill mb-0">
        <input
          type="text"
          id="bsx"
          name="bsx"
          class="form-control"
          placeholder="Biển số xe"
          required
        />
        <label class="form-label" for="bsx">Biển số xe </label>
      </div>
    </div>
    <div class="d-flex flex-row align-items-center mb-4">
      <div class="form-outline flex-fill mb-0">
        <input
          type="text"
          id="kv"
          name="kv"
          class="form-control"
          placeholder="Khu vực hoạt động"
          required
        />
        <label class="form-label" for="kv">Khu vực hoạt động </label>
      </div>
    </div>
    <div class="d-flex flex-row align-items-center mb-4">
      <div class="form-outline flex-fill mb-0">
        <input
          type="text"
          id="Email"
          name="Email"
          class="form-control"
          placeholder="Email"
          required
        />
        <label class="form-label" for="Email">Email </label>
      </div>
    </div>
    <div class="d-flex flex-row align-items-center mb-4">
      <div class="form-outline flex-fill mb-0">
        <input
          type="text"
          id="tk"
          name="tk"
          class="form-control"
          placeholder="Tài khoản ngân hàng"
          required
        />
        <label class="form-label" for="tk">Tài khoản ngân hàng </label>
      </div>
    </div>

    <button type="submit" class="btn btn-success btn-lg">Register</button>

  </form>
</div>