<h1 class="my-5 pt-4 text-center text-danger">
  ĐỐI TÁC
</h1>

<div class="w-100 d-flex justify-content-center">
  <form
    class="mx-1 mx-md-4 pb-5 fw-bold w-50"
    action="/register/nhanvien"
    method="POST"
  >

    <div class="d-flex flex-row align-items-center mb-4">
      <div class="form-outline flex-fill mb-0">
        <input
          type="text"
          id="name"
          name="name"
          class="form-control"
          placeholder="Tên tài khoản"
          required
        />
        <label class="form-label" for="name">Tên tài khoản </label>
      </div>
    </div>

    <div class="d-flex flex-row align-items-center mb-4">
      <div class="form-outline flex-fill mb-0">
        <input
          type="password"
          id="password"
          name="password"
          class="form-control"
          placeholder="Password"
        />
        <label class="form-label" for="password">Password</label>
      </div>
    </div>

    <div class="d-flex flex-row align-items-center mb-4">

      <div class="form-outline flex-fill mb-0">
        <input
          type="password"
          id="password1"
          name="password1"
          class="form-control"
          placeholder="Confirm Password"
        />
        <label class="form-label" for="password1">Confirm your password</label>
      </div>
    </div>

    <div class="d-flex flex-row align-items-center mb-4">
      <div class="form-outline flex-fill mb-0">
        <input
          type="text"
          id="Uname"
          name="Uname"
          class="form-control"
          placeholder="Họ tên đối tác"
          required
        />
        <label class="form-label" for="Uname">Họ tên đối tác </label>
      </div>
    </div>

    <div class="d-flex flex-row align-items-center mb-4">
      <div class="form-outline flex-fill mb-0">
        <input
          type="text"
          id="ndd"
          name="ndd"
          class="form-control"
          placeholder="Người đại diện"
          required
        />
        <label class="form-label" for="ndd">Người đại diện</label>
      </div>
    </div>

    <div class="d-flex flex-row align-items-center mb-4">
      <div class="form-outline flex-fill mb-0">
        <input
          type="text"
          id="tp"
          name="tp"
          class="form-control"
          placeholder="Thành phố"
          required
        />
        <label class="form-label" for="tp">Thành phố </label>
      </div>
    </div>
    <div class="d-flex flex-row align-items-center mb-4">
      <div class="form-outline flex-fill mb-0">
        <input
          type="text"
          id="quan"
          name="quan"
          class="form-control"
          placeholder="Quận"
          required
        />
        <label class="form-label" for="quan">Quận </label>
      </div>
    </div>
    <div class="d-flex flex-row align-items-center mb-4">
      <div class="form-outline flex-fill mb-0">
        <input
          type="text"
          id="scn"
          name="scn"
          class="form-control"
          placeholder="Số chi nhánh cửa hàng"
          required
        />
        <label class="form-label" for="scn">Số chi nhánh cửa hàng </label>
      </div>
    </div>
    <div class="d-flex flex-row align-items-center mb-4">
      <div class="form-outline flex-fill mb-0">
        <input
          type="text"
          id="sld"
          name="sld"
          class="form-control"
          placeholder="Số lượng đơn hàng / ngày"
          required
        />
        <label class="form-label" for="sld">Số lượng đơn hàng / ngày </label>
      </div>
    </div>
    <div class="d-flex flex-row align-items-center mb-4">
      <div class="form-outline flex-fill mb-0">
        <input
          type="text"
          id="lat"
          name="lat"
          class="form-control"
          placeholder="Loại ẩm thực"
          required
        />
        <label class="form-label" for="lat">Loại ẩm thực </label>
      </div>
    </div>
    <div class="d-flex flex-row align-items-center mb-4">
      <div class="form-outline flex-fill mb-0">
        <input
          type="text"
          id="sdt"
          name="sdt"
          class="form-control"
          placeholder="Số điện thoại"
          required
        />
        <label class="form-label" for="sdt">Số điện thoại </label>
      </div>
    </div>
    <div class="d-flex flex-row align-items-center mb-4">
      <div class="form-outline flex-fill mb-0">
        <input
          type="text"
          id="Email"
          name="Email"
          class="form-control"
          placeholder="Email"
          required
        />
        <label class="form-label" for="Email">Email </label>
      </div>
    </div>

    <button type="submit" class="btn btn-success btn-lg">Register</button>

  </form>
</div>